# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage reports
coverage

# Dependency directories
node_modules

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Linters
.eslintcache
.stylelintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# Next.js build output
.next
out
build
dist

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Editors
.vscode-test